<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ecotaxi Backend</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="assets/main.css"/>
    <script src="assets/main.js"></script>
    <script type="text/javascript">
        onLoad = function(){
          window.API_URL = 'mock_api' //TODO Pass the variable value via server
          window.appOnLoad();

        }

    </script>

</head>
<body onload="onLoad()">
</body>
</html>