body
    width: 100%
    height: 100%
content
    //@include displayBox
    //@include boxOrient(horizontal)
    @extend .displayBoxHorizontal
    .container
        //@include boxFlex(1)
        @extend .boxFlex1
    padding: 10px 10px 10px 0
