body
    width: 100%
    height: 100%
header
    border-bottom: 1px solid black
    margin:  $closedMenuWidth $closedMenuWidth 0 $closedMenuWidth
    padding-bottom: 5px
    .logo
        width: $logoWidth

content
    //@include displayBox
    //@include boxOrient(horizontal)
    @extend .displayBoxHorizontal
    .container
        //@include boxFlex(1)
        @extend .boxFlex1
    padding: 10px 10px 10px 0
